.Python
*.swp
*.py[cod]
include/
man/

# Packages
*.egg
*.egg-info
bin
sdist
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
